@using Microsoft.AspNetCore.Identity
@using AecTesteTecnico.Models;
@using AecTesteTecnico.Services;
@inject UserManager<ApplicationUser> UserManager
@inject MinioService MinioService

@{
    var user = User.Identity.IsAuthenticated
        ? await UserManager.GetUserAsync(User)
        : null;
}

@{
    string imageUrl = "/images/default-user.png";

    if (user?.ImageUrl != null)
    {
        imageUrl = await MinioService.GetPresignedUrlAsync(user.ImageUrl);
    }
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Aec</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>

    <nav class="navbar navbar-custom navbar-expand-lg">
        <div class="container-fluid" style="display:flex;align-items:center;gap:0.25rem;padding:0;">

            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                AeC
            </a>

            <div class="d-flex align-items-center flex-wrap" style="gap:0.125rem;flex:1;">

                <a class="nav-link" asp-controller="Home" asp-action="Index">Início</a>

                @if (User.IsInRole("ADMIN"))
                {
                    <a class="nav-link" asp-controller="User" asp-action="Manage">Usuários</a>
                }

            </div>

            <div class="user-box">
                @if (User.Identity.IsAuthenticated)
                {
                    <img src="@imageUrl" class="user-img" alt="avatar" />
                    <span>@user?.UserName</span>
                    <a asp-controller="Profile" asp-action="Index" class="nav-link" style="margin:0;">Perfil</a>
                    <form asp-controller="Account" asp-action="Logout" method="post" style="display:inline;">
                        <button type="submit" class="btn-logout">Sair</button>
                    </form>
                }
                else
                {
                    <a class="nav-link" asp-controller="Account" asp-action="Login" style="margin:0;">Entrar</a>
                    <a class="btn btn-primary btn-sm" asp-controller="Account" asp-action="Register">Criar conta</a>
                }
            </div>

        </div>
    </nav>

    <main class="main-container">
        @RenderBody()
    </main>

    <footer class="footer">
        <span>© 2026 AeC-Teste-Tecnico</span>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.min.js"></script>
    <script>lucide.createIcons();</script>

</body>
</html>
